@import "../config";

$card-height: 10rem;

.controller-card {
  position: relative;
  height: $card-height;

  .controller-card-icon {
    height: $card-height;
    width: $card-height;
    font-size: 5rem;
    text-align: center;
    line-height: $card-height;
    background: $primary-light-color;

    div {
      height: 100%;
    }
  }

  .controller-card-name {
    position: absolute;
    top: 0;
    left: $card-height;
    right: 0;
    padding: 0 1rem;
    font-weight: bold;
    line-height: 3rem;
    font-size: 1.2rem;
    white-space: nowrap;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .controller-card-code {
    position: absolute;
    top: 0.1rem;
    right: 0;
    padding: 0 1rem;
    line-height: 3rem;
    font-size: 1rem;
  }

  .controller-card-robots {
    position: absolute;
    top: 3.6rem;
    bottom: 0;
    left: $card-height;
    overflow-x: auto;
    max-width: calc(100% - 10rem);
    & > div {
      height: 100%;
      white-space: nowrap;
      & > div {
        display: inline-block;
        margin-right: 0.8rem;
        height: 5.4rem;
        vertical-align: top;
        &:first-child {
          margin-left: 1rem;
        }

        &.footer {
          color: $main-text-disabled;
          width: 10rem;
          min-width: 10rem;
          border: dashed 1px $main-divider;
          border-radius: $border-radius;
          text-align: center;

          &:hover {
            border-style: solid;
          }

          .action {
            position: relative;
            height: 100%;
            i {
              color: $main-icon-disabled
            }
          }

          .action-icon {
            position: absolute;
            top: 0.8rem;
            font-size: 2rem;
            left: 0;
            width: 100%;
            text-align: center;
          }

          .action-text {
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 2rem;
            width: 100%;
            text-align: center;
            padding: 0 0.6rem;
          }
        }
      }
    }
  }
}
