$primary-color: #274275;
$primary-color-text-primary: #FFFFFF;
$primary-color-text-secondary: rgba(255, 255, 255, 0.7);
$primary-color-text-disabled: rgba(255, 255, 255, 0.5);
$primary-color-divider: rgba(255, 255, 255, 0.12);
$primary-color-icon: #FFFFFF;
$primary-color-icon-disabled: rgba(255, 255, 255, 0.5);
$primary-dark-color: #002557;
$primary-dark-color-text-primary: #FFFFFF;
$primary-dark-color-text-secondary: rgba(255, 255, 255, 0.7);
$primary-dark-color-text-disabled: rgba(255, 255, 255, 0.5);
$primary-dark-color-divider: rgba(255, 255, 255, 0.12);
$primary-dark-color-icon: #FFFFFF;
$primary-dark-color-icon-disabled: rgba(255, 255, 255, 0.5);
$primary-light-color: #CFD8DC;
$primary-light-color-text-primary: rgba(0, 0, 0, 0.87);
$primary-light-color-text-secondary: rgba(0, 0, 0, 0.54);
$primary-light-color-text-disabled: rgba(0, 0, 0, 0.38);
$primary-light-color-divider: rgba(0, 0, 0, 0.12);
$primary-light-color-icon: rgba(0, 0, 0, 0.54);
$primary-light-color-icon-disabled: rgba(0, 0, 0, 0.38);
$main-text-primary: rgba(0, 0, 0, 0.87);
$main-text-secondary: rgba(0, 0, 0, 0.54);
$main-text-disabled: rgba(0, 0, 0, 0.38);
$main-divider: rgba(0, 0, 0, 0.12);
$main-icon: rgba(0, 0, 0, 0.54);
$main-icon-disabled: rgba(0, 0, 0, 0.38);
$background-primary: #FFFFFF;
$background-secondary: #F4F4F4;
