@import "color";

$shadow: rgba(0, 0, 0, 0.5);

$toolbar-height: 3.6rem;
$navigation-drawer-width: 14rem;
$navigation-bar-width: 3.4rem;

$border-radius: 0.25rem;
$animation-time: 0.3s;

$device-tablet: 600px;
$device-desktop: 1200px;
