@import "../config";
@import "../mixins";

.navigation-view {
  position: absolute;
  background: $background-secondary;
  width: 100%;
  height: 100%;

  .navigation-view-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $toolbar-height;
    z-index: 2;
  }

  .navigation-view-navigation-drawer {
    position: absolute;
    top: $toolbar-height;
    left: -100%;
    width: calc(100% - 3rem);
    bottom: 0;
    border-right: solid 1px $main-divider;
    z-index: 1;
    transition: width $animation-time, left $animation-time;
  }

  .navigation-view-content {
    position: absolute;
    top: $toolbar-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 0;
    transition: left $animation-time;
    .box {
      max-width: 60rem;
      margin: 0 auto;
    }
  }

  &.toggled {
    .navigation-view-navigation-drawer {
      left: 0;
    }
  }
}

@include tablet {
  .navigation-view {
    .navigation-view-navigation-drawer {
      left: 0;
      width: $navigation-bar-width;
    }

    .navigation-view-content {
      left: $navigation-bar-width;
    }

    &.toggled {
      .navigation-view-navigation-drawer {
        width: $navigation-drawer-width;
      }
    }
  }
}


@include desktop {
  .navigation-view {
    .navigation-view-navigation-drawer {
      left: 0;
      width: $navigation-drawer-width;
    }

    .navigation-view-content {
      left: $navigation-drawer-width;
    }

    &.toggled {
      .navigation-view-navigation-drawer {
        width: $navigation-bar-width;
      }

      .navigation-view-content {
        left: $navigation-bar-width;
      }
    }
  }
}
