@import "../config";
@import "../mixins";

$line-height: 3.2rem;

.navigation-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $background-primary;
  padding-top: $line-height / 3;
  box-shadow: 0 0 4px $shadow;

  &::after {
    content: "";
    height: $line-height / 6;
    display: block;
  }

  &:hover {
    overflow-y: auto;
  }

  .action {
    height: $line-height;
    line-height: $line-height;
    position: relative;

    &:hover {
      @include hover-background($main-text-primary);
    }

    .text-view {
      position: absolute;
      top: 0;
      left: $navigation-bar-width;
      line-height: $line-height;
    }

    .icon-view {
      position: absolute;
      width: $navigation-bar-width;
      line-height: $line-height;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .active, .active .icon-view {
    color: $primary-color;
    font-weight: bold;
  }

  .active {
    @include hover-background($main-text-primary);
  }

  & > div > div.text-view {
    border-top: solid 1px $main-divider;
    padding-left: $navigation-bar-width / 2 - 0.7rem;
    color: $main-text-secondary;
    margin-top: $line-height / 6;
    overflow: hidden;
    transition: height $animation-time, margin-bottom $animation-time;

    &:not(:empty) {
      height: $line-height;
      line-height: $line-height;
    }

    &:empty {
      margin-bottom: $line-height / 6;
    }
  }
}

@include tablet {
  .navigation-drawer:not(.toggled) > div > div.text-view {
    margin-bottom: $line-height / 6;
    height: 0;
  }
}


@include desktop {
  .navigation-drawer.toggled > div > div.text-view {
    margin-bottom: $line-height / 6;
    height: 0;
  }
}
