@import "../config";
@import "../mixins";

.toolbar {
  background: $primary-color;
  color: $primary-color-text-primary;
  height: $toolbar-height;
  line-height: $toolbar-height;
  width: 100%;
  border-bottom: solid 1px $primary-dark-color;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  display: flex;
  transition: background $animation-time, color $animation-time;

  .toolbar-icon {
    margin-left: 0.5rem;
    height: 100%;
    width: $navigation-bar-width - 1rem;
    text-align: center;
    font-size: 1.8rem;
    margin-right: 0.5rem;

    .icon-view {
      color: $primary-color-icon;
      transition: color $animation-time;
    }

    &:hover {
      @include hover-background($primary-color-text-primary);
    }
  }

  .toolbar-title {
    margin-left: 0.2rem;
    font-size: 1.2rem;
  }

  .toolbar-search {
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: -2px;
    //transition: left $animation-time;

    .input {
      height: 100%;
      left: 0;

      .icon-view {
        display: none;
        color: $primary-color-icon-disabled;
        transition: color $animation-time;
      }

      input {
        background: $primary-color;
        color: $primary-color-text-primary;
        box-shadow: none;
        border: none;
        padding-left: 0;
        transition: background $animation-time, color $animation-time;
      }
    }
  }

  .toolbar-search-icon {
    position: absolute;
    right: 1rem;
    height: 100%;
    width: $navigation-bar-width - 1rem;
    text-align: center;
    font-size: 1.4rem;

    .icon-view {
      color: $primary-color-icon;
    }

    &:hover {
      @include hover-background($primary-color-text-primary);
    }
  }

  &.search {
    background: $background-primary;
    color: $main-text-primary;

    .toolbar-icon {
      .icon-view {
      color: $main-icon;
    }
      &:hover {
        @include hover-background($main-text-primary);
      }
    }
    .toolbar-search {
      left: $navigation-bar-width;

      input {
        background: $background-primary;
        color: $main-text-primary;
      }
    }

  }
}

@include tablet {
  .toolbar {
    .toolbar-search {
      position: static;
      left: auto;
      right: auto;
      width: auto;
      height: 64%;
      margin-left: 2rem;
      margin-right: 2rem;
      flex-grow: 1;

      .input {
        .icon-view {
          color: $primary-dark-color-icon-disabled;
          display: block;
        }

        input {
          background: $primary-dark-color;
          color: $primary-dark-color-text-primary;
          //box-shadow: inset 1px 1px 4px -2px $shadow;
          padding-left: 2rem;
        }
      }
    }

    .toolbar-search-icon {
      display: none;
    }

    &.search {
      .toolbar-search {
        .icon-view {
          color: $main-icon-disabled;
        }
        input {
          background: $background-secondary;
          color: $main-text-primary;
        }
      }
    }
  }
}

@include desktop {
  .toolbar {
    .toolbar-search {
      position: absolute;
      left: 50%;
      right: auto;
      width: $device-tablet;
      height: 64%;
      margin-left: -$device-tablet / 2;
      margin-top: 0.1rem;

      .input {
        .icon-view {
          color: $primary-dark-color-icon-disabled;
          display: block;
        }

        input {
          background: $primary-dark-color;
          color: $primary-dark-color-text-primary;
          //box-shadow: inset 1px 1px 4px -2px $shadow;
          padding-left: 2rem;
        }
      }
    }

    .toolbar-search-icon {
      display: none;
    }

    &.search {
      .toolbar-search {
        left: 50%;
        .icon-view {
          color: $main-icon-disabled;
        }
        input {
          background: $background-secondary;
          color: $main-text-primary;
        }
      }
    }
  }
}
