@import "../config"

.navigation
  position: absolute
  background: $background-primary
  width: 100%
  height: 100%
  .navigation-toolbar
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: $toolbar-height
  .navigation-navigation-drawer
    position: absolute
    top: $toolbar-height
    left: 0
    width: 20rem
    bottom: 0
  .navigation-content
    position: absolute
    top: $toolbar-height
    left: 20rem
    right: 0
    bottom: 0
    overflow-y: scroll